
<div class="container bg-faded padding" style="padding: 1em;">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6" style="padding: 2em;">
      <h3 class="display-5 text-center">Top Spinnin' Records 💽</h3>
      <p class="text-center">This is not a trial, Thanks to the API of Deezer.</p>
      <!-- 4:3 aspect ratio -->
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=true&width=500&height=500&color=007feb&layout=&size=big&type=playlist&id=1131655591&app_id=1"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container padding" style="padding: 1em;">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6" style="padding: 2em;">
      <h3 class="display-5 text-center">Top USA 🇺🇸</h3>
      <p class="text-center">Listen the 🔥 music in USA</p>
      <!-- 4:3 aspect ratio -->
      <div class="embed-responsive embed-responsive-1by1">
        <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=500&height=500&color=007FEB&layout=&size=big&type=playlist&id=1313621735&app_id=1"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container bg-faded padding" style="padding: 1em;">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6" style="padding: 2em;">
      <h3 class="display-5 text-center">Top Worldwide 🌎</h3>
      <!-- 4:3 aspect ratio -->
      <div class="embed-responsive embed-responsive-1by1">
        <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=500&height=500&color=007FEB&layout=&size=big&type=playlist&id=1313621735&app_id=1"></iframe>
      </div>
    </div>
  </div>
</div>

<footer>
  <p class="text-center">Made with ❤️ by @jesussandrea12.<br>🌎 Enjoyed everywhere</p>
</footer>
