.form {
  padding: 1em;
}

.img-border {
  margin: 1em;
  background-color: #e4e4e4;
}

.card {
  text-align: center;
  align-items: center;
  display: flex;
  width: 20rem;
  padding: 1em;
  margin: 1em;
}

@media screen and (max-width: 768px) {
  .card {
      width: auto;
  }
}
