<!-- home -->
<div class="hero">
  <div class="container align-center">
    <h1 class="hero-h1">Music for everyone.</h1>
    <button type="button" class="botoncito btn btn-primary btn-lg">learn more</button>
  </div>
</div>

<!-- Api -->
<h1 class="display-4 text-center mt-1 mb-1">Top Hits</h1>
<div class="container">
  <div class="row justify-content-center">

    <div *ngIf="loading">
      <div class="spinner"></div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let track of tracks">
      <div class="card-group">
        <div class="card align-center">
          <img class="card-img-top rounded-top" src="{{ track.album.cover_medium }}" alt="cover_medium">
          <div class="card-block">
            <h4 class="card-title mt-1">{{ track.title }}</h4>
            <p class="card-text">{{ track.artist.name }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <audio controls src="{{ track.preview }}"></audio>
            <li class="list-group-item">{{ track.duration | minutes }}</li>
            <li class="list-group-item">{{ track.album.title }}</li>
          </ul>
          <div class="card-block">
            <a href="{{ track.link }}" target="_blank" class="btn btn-primary margin">Complete 🎵</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer>
  <p class="text-center">Made with ❤️ by @jesussandrea12.<br>🌎 Enjoyed everywhere</p>
</footer>
