.hero {
  height: calc(100vh - 65.59px);
  display: grid;
  justify-content: center;
  align-items: center;
  background: url('../../assets/pineapple.jpg');
  background-size: cover;
  background-position: center;
}

.hero-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.4em;
}

.container {
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.botoncito {
  border-radius: 5000px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.mt-1 {
  margin-top: 1em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.margin {
  margin: 1em !important
}

.card {
  text-align: center;
  align-items: center;
  display: flex;
  margin: 8px;
  border-radius: 10px !important;
  /* width: 20rem; */
  /* padding: 1em; */
}

@media screen and (max-width: 768px) {
  .card {
    width: auto;
  }
  .margin {
    margin: 0 !important;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: auto;
    margin: 0 !important;
  }
}
