
<div class="form">
  <input type="text" class="form-control" placeholder="Search for..." [formControl]="searchField">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let result of results$ | async">
      {{result.title}}
    </li>
  </ul>
</div>

<hr>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let track of tracks">
      <div class="card align-center">
        <img class="card-img-top" src="{{ track.album.cover_medium }}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{ track.title }}</h4>
          <p class="card-text">{{ track.artist.name }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <audio controls src="{{ track.preview }}"></audio>
          <li class="list-group-item">{{ track.duration | minutes }}</li>
          <li class="list-group-item">{{ track.album.title }}</li>
        </ul>
        <div class="card-block">
          <a href="{{ track.link }}" target="_blank" class="btn btn-primary">Complete 🎵</a>
          <a href="{{ track.album.tracklist }}" target="_blank" class="btn btn-outline-danger">Tracklist</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="margin" style="margin: 2em;">
  <div class="container bg-faded" style="padding: 3em;">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6" style="padding: 2em;">
        <h3 class="text-center">Listen music for free!</h3>
        <p class="text-center">This is not a trial, Thanks to the API of Deezer.</p>
        <!-- 4:3 aspect ratio -->
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item" scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=true&width=500&height=500&color=007feb&layout=&size=big&type=playlist&id=1131655591&app_id=1"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
